<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">Hi, Username </h1>
    <a class="btn btn-light btn-lg" href="/blog" role="button">Create blog</a><br><br>
    <a class="btn btn-dark btn-lg" href="/list" role="button">View list</a>

  </div>
</div>

<%- include('partials/footer') %>
